torch>=2.10.0
torchvision>=0.25.0
transformers
numpy
nibabel>=5.0.0          # for MRI/CT .nii files
SimpleITK>=2.2.0        # for CT/MRI preprocessing
opencv-python>=4.8.0
Pillow
scikit-image
scipy
einops
timm
pyyaml
tqdm
monai>=1.2.0            # medical image transforms
matplotlib
tensorboard
# SAM-2 must be installed separately:
# git clone https://github.com/facebookresearch/segment-anything-2
# pip install -e segment-anything-2/